### General ###
HELP.md

### Maven ###
/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!frontend/src/main/**/build/
!frontend/src/test/**/build/

### VS Code ###
.vscode/

### Spring ###
application-*.yaml
/src/test/resources/application-*.yaml

### Mac OS ###
.DS_Store